@import url('https://fonts.googleapis.com/css?family=Roboto');

* { box-sizing: border-box; }

body {
  margin: 0;
  overflow: hidden;
}

.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  overflow: hidden;
  position: relative;
  width: 100vw; /* Updated to 100vw */
  height: 100vh; /* Updated to 100vh */
  z-index: 1;
}

.slides {
  display: flex;
  position: relative;
  width: 10000vw; /* Updated to 10000vw */
}

.slides.shifting {
  transition: left 0.2s ease-out;
}

.slide img {
  max-width: 100vw; /* Updated to 100vw */
  min-height: 100vh; /* Updated to 100vh */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  position: relative;
  /* border-radius: 2px; */
}

.control {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.prev,
.next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.prev {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
  left: -20px;
}

.next {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
  right: -20px;
}

.prev:active,
.next:active {
  transform: scale(.8);
}